</tbody>
</table>
<table style="margin-top:30px; padding-bottom:20px;; margin-bottom: 40px;">
    <tbody>
    <tr>
        <td align="center" valign="center">
            <p style="font-size: 12px; text-decoration: none;line-height: 1; color:#909090; margin-top:0px; ">
                Backend Test Technologies, Lagos, Nigeria.
            </p>
            <p style="font-size: 12px; line-height:1; color:#909090;  margin-top:5px;">
                <a href="#" style="color: #145388; text-decoration:none;">Privacy
                    Policy</a>
            </p>
        </td>
    </tr>
    </tbody>
</table>
</center>
</div>
<!--Mailing End-->
</body>

</html>